---
layout: default
title: Maitri's Art Gallery
---
 {% include navigation_index.html %}
<!-- HERO -->
        <div class="hero">
            <!-- FRONT CONTENT -->
            <div class="front-content">
                <img src="{{site.logo}}" class="img-responsive logo" alt="logo">
                <h1>{{site.greeting}} I’m <span>{{site.author}}</span>.<br>{{site.heading}}</h1>
            </div>
            <!-- /FRONT CONTENT -->
       </div>
        <!-- /HERO -->
        
        <!-- PORTFOLIO -->
        <div class="portfolio">    
            
            {% for art in site.arts %}
                <a class="item" href="{{art[1].image}}">
                    <i class="fa fa-eye" aria-hidden="false"></i>
                    <div class="item-cover" style="background-image: url({{art[1].image}})"></div>                
                </a>
            {% endfor %}
            
</div>
        <!-- /PORTFOLIO -->
    
