---
layout: default
title: india's Art Gallery
---
        <!-- HERO -->
        <div class="hero">
            <!-- FRONT CONTENT -->
            <div class="front-content">
                <img src="{{site.baseurl}}/{{site.scope}}/{{site.logo}}" class="img-responsive logo" alt="logo">
                <h1>{{site.greeting}} I’m <span>{{site.author}}</span>.<br>{{site.heading}}</h1>
            </div>
            <!-- /FRONT CONTENT -->
       </div>
        <!-- /HERO -->
        
        <!-- PORTFOLIO -->
        <div class="portfolio">    
<!--         {% for art in site.arts %}
                <a alt="{{art[1].title}}" class="item" href="{{baseurl}}/{{scope}}/{{art[1].image}}">
                    <div alt="{{art[1].title}}" class="item-cover" style="background-image: url({{art[1].image}})"></div>   
                         <i class="fa fa-quote-left" aria-hidden="true" onclick="return false;"></i>
                </a>
        {% endfor %} -->
         
         {% for art in site.arts %}
          <a alt="{{art}}" class="item" href="{{site.baseurl}}/{{site.scope}}/{{file.path}}">
             <div alt="{{file.basename}}" class="item-cover" style="background-image: url({{site.baseurl}}/{{site.scope}}/{{file.path}})"></div>   
             <i class="fa fa-quote-left" aria-hidden="true" onclick="location.href='{{site.baseurl}}/{{site.scope}}/caption/{{file.path}}'; return false;"></i>
          </a>
         {% endfor %}
        </div>
        <!-- /PORTFOLIO -->
